<html>
  <body>
    <h2>ITEM LIST</h2>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Amount</th>
        <th>Action</th>
      </tr>
      <% 
        var total = 0;
        for (var item of session.mycart) {
          total += item.product.price * item.quantity;
      %>
      <tr>
        <td><%= item.product._id %></td>
        <td><%= item.product.name %></td>
        <td><img src="data:image/jpg;base64,<%= item.product.image %>" width="70" height="70" /></td>
        <td><%= item.product.price %></td>
        <td><%= item.quantity %></td>
        <td><%= item.product.price * item.quantity %></td>
        <td><a href="/remove2cart/<%= item.product._id %>">Remove</a></td>
      </tr>
      <%  } %>
    </table>
    <h3>Total = <%= total %></h3>
    <a href="/checkout">CHECKOUT</a>
  </body>
</html>