<html>

  <body>
    <div class="table-responsive" style="padding-right: 5px; padding-left: 5px;">
      <table align="center" class="table table-bordered">
        <tr>
          <td colspan="2" align="right">
            <a href="/mycart"><span class="glyphicon glyphicon-shopping-cart"></span> My
              Nontification</a> have
            <b><%= (session.mycart) ? session.mycart.length : 0 %></b> items
          </td>
        </tr>
        <tr>
          <td colspan="<%=nCols%>" align="center" style="padding-top: 20">
  
            <h1 align="center">VLFood</h1>
            <table align="center">
              <% var nCols = 3;
          var nRows = Math.ceil(products.length / nCols);
          for (var r = 0; r < nRows; r++) { %>
              <tr>
  
                <% for (var c = 0; c < nCols; c++) { 
                if (r * nCols + c < products.length) {
                  var product = products[r * nCols + c];
            %>
                <td align="center">
                  <a href="/detailproducts/<%= product._id %>">
                    <img src="data:image/jpg;base64,<%= product.image %>" width="300" height="300" /><br />
                  </a>
                  <%= product.name %><br/>
                  <%= product.phone %><br/>
                  <%= product.description %><br/>
                  <%= product.slot %><br/>
                </td>
                <% }  } %>
              </tr>
              <% } %>
            </table>
    </div>
  </body>
</html>